
.leaflet-popup-content-wrapper {
background-color: #181d3bff;
}

.leaflet-popup-content {
   
}

.leaflet-popup-content p {
    margin: 0;
    padding:0; 
}
.leaflet-container {
    z-index: 1; /* Set a lower z-index for the Leaflet map */
  }